{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Anagrafiche - Fornitori {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_anagrafiche.html" %}
{% endblock %}

{% block content %}

{% include 'core/modals/delConfirm.html' %}
<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'anagrafiche:home_fornitori' %}">Fornitori</a></li>
        {% if form.instance.id  %}
        <li class="breadcrumb-item active" aria-current="page">{{ fornitore.ragionesociale }}</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">Nuovo Fornitore</li>
        {% endif %}
            
        
    </ol>
</nav>

    <div class="container">
        
        {% if form.instance.id  %}
            <h3>Modifica {{ fornitore.ragionesociale }}</h3>
        {% else %}
            <h3> Aggiungi Fornitore</h3>
        {% endif %}
        <hr>
        
        {% include "core/partials/_messages.html" %}
        
        
        <br>
        {% include "anagrafiche/partials/_fornitore_prima_pagina.html" %}

        
        <hr>

        
        





    </div>



{% endblock %}

{% block extra_scripts %}
<script>

document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_ragionesociale');
        });


function openWebSite() {
    var website = document.getElementById("id_sito_web").value;

    if (website) {
        // Verifica se l'URL inizia con "http://" o "https://"
        if (!website.startsWith("http://") && !website.startsWith("https://")) {
            // Se non inizia con il prefisso, aggiungi "http://"
            website = "http://" + website;
        }

        // Apri l'URL
        window.open(website);
    } else {
        alert("Manca indirizzo web!");
    }
}

function openGoogleMaps() {
        var latitudine = document.getElementById("id_latitude").value;
        var longitudine = document.getElementById("id_longitude").value;

        if (latitudine && longitudine) {
            var url = "https://www.google.com/maps/search/?api=1&query=" + latitudine + "," + longitudine;
            window.open(url);
        } else {
            alert("Completa i campi Latitudine e Longitudine prima di aprire Google Maps.");
        }
    }
    
</script>

{% endblock %}
