{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Generiche - Transfer Value {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_anagrafiche.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'anagrafiche:home_fornitori' %}">Fornitori</a></li>
        <li class="breadcrumb-item"><a href="{% url 'anagrafiche:tabelle_generiche' %}">Tabelle Generiche</a></li>

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Transfer Value</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica Transfer Value</h3>
        {% else %}
            <h3> Aggiungi Transfer Value</h3>
        {% endif %}
        
        
        <hr>
        
        {% include "core/partials/_messages.html" %}
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            

            <div class="row">
                <div class="col-3">
                    {{ form.description|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.unit|as_crispy_field }}
                </div>
                
            </div>
            
            

            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block extra_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_description');
        });
</script>
{% endblock %} 