{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Processo->Audit {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_non_conformity.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'nonconformity:home_rapporti_audit' %}">Lista Rapporti Audit</a></li>        
        <li class="breadcrumb-item"><a href="{% url 'nonconformity:modifica_rapporto_audit' pk=fk_rapportoaudit.pk %}">Rapporto audit {{ fk_rapportoaudit }}</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica Processo {{ processo_audit.fk_processo }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi Processo</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica Processo {{ processo_audit.fk_processo }}</h3>
        {% else %}
            <h3> Aggiungi Processo</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}

            

            <div class="row">
                
                <div class="col-3">
                    {{ form.fk_processo|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_rapportoaudit|as_crispy_field }}
                </div>
                
                
                
            </div>

            
            
            <input type="submit" class="btn btn-success" value="Salva">
            <button type="button" class="btn btn-danger" onclick="cancelAndRedirectTo(`{% url 'nonconformity:modifica_rapporto_audit' pk=fk_rapportoaudit.pk %}`)"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
        </form>
        <hr>
        
        
    </div>



{% endblock %}

{% block scripts %}

{% endblock %} 