<div class="sidenav">
    
    <nav>
        
        <ul>
            <li class="border-top my-3"></li>
            <li><a href="{% url 'nonconformity:tabelle_generiche' %}">Tabelle Generiche</a></li>
            <li><a href="{% url 'nonconformity:home_rapporti_audit' %}">Rapporti di Audit</a></li>
            
            
            <li class="border-top my-3"></li>

            <li><a href="{% url 'manualeprocedure:procedure_home' %}">Procedure</a></li>
            <li><a href="{% url 'lwg:lwg_home' %}">LWG</a></li>
        </ul>
    </nav>
</div>

