<div class="sidenav">
    
    <nav>
        
        <ul>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#anagrafiche-collapse" aria-expanded="false">
                    Anagrafiche
                </button>
                <div class="collapse" id="anagrafiche-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'anagrafiche:edit_facility_details' pk=1 %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Facility Details</a></li>
                    <li><a href="{% url 'anagrafiche:home_clienti' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Clienti</a></li>
                    <li><a href="{% url 'anagrafiche:home_fornitori' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fornitori</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Operatori</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Articoli</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Macelli</a></li>
                    
                    </ul>
                </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#tabelle-collapse" aria-expanded="false">
                        Tabelle
                    </button>
                    <div class="collapse" id="tabelle-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Clienti</a></li>
                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fornitori</a></li>
                        <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Macelli</a></li>
                        
                        </ul>
                    </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#acquisti-collapse" aria-expanded="false">
                            Acquisti
                        </button>
                        <div class="collapse" id="acquisti-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{% url 'acquistopelli:dashboard_acquisto_pelli'%}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Pelli</a></li>
                            
                            
                            </ul>
                        </div>
                        </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#generiche-collapse" aria-expanded="false">
                            Generiche
                        </button>
                        <div class="collapse" id="generiche-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Clienti</a></li>
                            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Fornitori</a></li>
                            <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Macelli</a></li>
                            
                            </ul>
                        </div>
                        </li>
            
            
                <li class="border-top my-3"></li>
                <li><a href="#">Procedure</a></li>
                <li><a href="#">Scadenzario</a></li>
                <li><a href="#">LWG</a></li>
        </ul>
    </nav>
</div>

