<div class="sidenav">
    
    <nav>
        
        <ul>
            <li class="border-top my-3"></li>
                <li><a href="{% url 'articoli:tabelle_generiche' %}">Tabelle Generiche</a></li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <li><a href="{% url 'articoli:articoli_home' %}">Articoli</a></li>
                <li><a href="{% url 'articoli:colori_home' %}">Colori</a></li>
                
                
                </li>
                
                <li class="border-top my-3"></li>
                <li><a href="{% url 'manualeprocedure:procedure_home' %}">Procedure</a></li>
                <li><a href="{% url 'lwg:lwg_home' %}">LWG</a></li>
        </ul>
    </nav>
</div>