<div class="sidenav">
    
    <nav>
        
        <ul>
            <li class="border-top my-3"></li>
            
                <li><a href="{% url 'anagrafiche:edit_facility_details' pk=2 %}">Facility Details</a></li>
                
                <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#azienda-collapse" aria-expanded="false">
                    Azienda
                </button>
                <div class="collapse" id="azienda-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'anagrafiche:edit_facility_details' pk=2 %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Anagrafica</a></li>
                    <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Autorizzazioni</a></li>
                    
                    </ul>
                </div>
                </li>


                <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#clienti-collapse" aria-expanded="false">
                    Clienti
                </button>
                <div class="collapse" id="clienti-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'anagrafiche:home_clienti' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Anagrafiche</a></li>
                    <li><a href="{% url 'anagrafiche:tabelle_generiche' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Tabelle Generiche</a></li>
                    
                    </ul>
                </div>
                </li>
                
                <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#fornitori-collapse" aria-expanded="false">
                    Fornitori
                </button>
                <div class="collapse" id="fornitori-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'anagrafiche:home_fornitori' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Anagrafiche</a></li>
                    <li><a href="{% url 'anagrafiche:tabelle_generiche' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Tabelle Generiche</a></li>
                    
                    </ul>
                </div>
                </li>
                <li><a href="#">Operatori</a></li>
                <li><a href="{% url 'articoli:articoli_home' %}">Articoli</a></li>
                
                <li class="border-top my-3"></li>
                <li><a href="#">Procedure</a></li>
                <li><a href="#">LWG</a></li>
        </ul>
    </nav>
</div>

