<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Ricerca Prodotti Chimici</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="searchInput" class="form-label" id="searchInputLabel">Cerca Prodotti Chimici</label>
          <input type="text" class="form-control" id="searchInput" placeholder="">
        </div>
        <div id="searchResults">
          <!-- Tabella dei risultati della ricerca verrà aggiunta qui tramite JavaScript -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"><i class="bi bi-arrow-counterclockwise"></i>&nbsp;&nbsp; Annulla</button>
      </div>
    </div>
  </div>
</div>