{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Attributo Fase di Lavoro{% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_articoli.html" %}
{% endblock %}

{% block content %}

<div class="container">
    <br>
    <nav aria-label="breadcrumb" class="mt-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
            <li class="breadcrumb-item"><a href="{% url 'articoli:tabelle_generiche' %}">Tabelle Generiche</a></li>        
            <li class="breadcrumb-item"><a href="{% url 'articoli:modifica_fase_lavoro' pk=fk_fase_lavoro.pk %}">{{ fk_fase_lavoro.descrizione }}</a></li>        
    
            {% if form.instance.id  %}
                <li class="breadcrumb-item active" aria-current="page">{{ attributo.attributo }}</li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">Aggiungi attributo</li>
            {% endif %}             
            
            
        </ol>
    </nav>    
    <hr>
    <br>
    {% if form.instance.id  %}
            <h5 class="text-end">{{ attributo.attributo }}</h5>
            <h3>Modifica Attributo</h3>
        {% else %}
            <h5 class="text-end">Attributi</h5>
            <h3> Aggiungi Attributo</h3>
        {% endif %}
    
    <!-- Form Attributi -->
    
    <div class="form-group mt-3">
        <form class="mt-3" method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            
            
                    <div class="row mt-3 mb-4">
                      
                      <div class="col-md-12 border rounded shadow-sm">
                        <div class="row">
                            <div class = "col-md-6">
                              {{ form.attributo|as_crispy_field }}
                            </div>
                            <div class = "col-md-3">
                              {{ form.fk_fase_lavoro|as_crispy_field }}
                            </div>
                            
                            
                            
                             
                        </div>
                        <div class="row">
                            <div class = "col-md-6">
                              {{ form.note|as_crispy_field }}
                            </div>
                            
                            <div class = "col-md-3">
                              {{ form.created_by|as_crispy_field }}
                            </div>
                            
                            
                            
                             
                        </div>
                        
                        
                        <hr>
                        

                        

                    </div>
                      </div>
        <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
        
        <button type="button" class="btn btn-danger mb-2 me-1" onclick="cancelAndRedirectTo(`{% url 'articoli:modifica_fase_lavoro' pk=fk_fase_lavoro.pk %}`)"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>

        <!-- fine form -->
        </form>

        

    </div>
</div>

{% endblock content %}
{% block extra_scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_attributo');
        });
    </script>
{% endblock %}