{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}

    {% if modello_form.errors %}
        {% for field in modello_form %}
            {% for error in field.errors %} 
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-2">
            {{ modello_form.is_lwg|as_crispy_field }}
        </div>
        <div class="col-3">
            
            {{ modello_form.urn|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            {{ modello_form.tipo_fornitore|as_crispy_field }}
        </div>
        <div class="col-3">
            {{ modello_form.latitude|as_crispy_field }}
        </div>
        <div class="col-3">
            {{ modello_form.longitude|as_crispy_field }}
        </div>
        <div class="col-3 d-flex align-items-center pt-3">
            <button type="button" class="btn btn-sm btn-success" onclick="openGoogleMaps()"><i class="bi bi-geo-alt"></i> Apri su Google Maps</button>
        </div>
    </div>
    

    
    
</form>
<hr>

{% include "anagrafiche/partials/_sezione_lwg.html" %}