{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Dettaglio DDT {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_lavorazioni.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'lavorazioni:dashboard_lavorazioni' %}">Dashboard Lavorazioni</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'lavorazioni:modifica_ordine_lavoro' pk=ordine_lavoro %}">DDT n. {{ ordine_lavoro.num_doc }} del {{ ordine_lavoro.data_doc }}</a></li>        
        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica dettaglio ddt N. {{ ordine_lavoro.num_doc }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi dettaglio ddt</li>
        {% endif %}             
        
        
    </ol>
</nav>
{% include 'lavorazioni/modals/modal_quantity.html' %}
    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica dettaglio ddt N. {{ ordine_lavoro.num_doc }}</h3>
        {% else %}
            <h3> Aggiungi dettaglio ddt</h3>
        {% endif %}
        
        
        <hr>
        
        
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %} 
               <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong> - Campo: <strong>{{ field.name }}</strong>
               </div>
            {% endfor %}
        {% endfor %}
     {% endif %}
        
        <br>


        <form method="post">
            {% csrf_token %}
            
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-2">
                            {{ form.numero_riga|as_crispy_field }}
                        </div>
                        <div class="col-2">
                            {{ form.fk_dettaglio_lotto|as_crispy_field }}
                        </div>
                        <div class="col-2">
                            {{ form.fk_output_lavorazione|as_crispy_field }}
                        </div>
                        <div class="col-6">
                            {{ form.descrizione|as_crispy_field }}
                        </div>
                        
                        
                    </div>
        
                    <div class="row">
                        <div class="col-3">
                            {{ form.fk_lavorazione|as_crispy_field }}
                        </div>
                        <div class="col-2">
                            {{ form.fk_unita_misura|as_crispy_field }}
                        </div>
                        <div class="col-1">
                            {{ form.quantity|as_crispy_field }}
                        </div>
                        
                        
                    </div>
        
                    <div class="row">
                        <div class="col-4">
                            {{ form.note|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ form.created_by|as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ form.fk_ordine_lavoro|as_crispy_field }}
                        </div>
                        
                        
                        
                    </div>
                    
                    
        
                    
                    <input type="submit" class="btn btn-success" value="Salva">
                    <button type="button" class="btn btn-danger" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
                </form>
                <hr>
                </div>
                <div class="col-6" style="border: 2px solid black; border-radius: 8px; padding: 15px; margin-bottom: 20px;">
                    <div class="row">
                        {% include "lavorazioni/partials/_elenco_lotti.html" %}
                    </div>
                    <div class="row">
                        {% include "lavorazioni/partials/_elenco_output.html" %}
                    </div>

                </div>

            </div>

            
        
        
    </div>



{% endblock %}
{% block extra_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_descrizione');
        });

document.addEventListener('DOMContentLoaded', function() {
    const rows = document.querySelectorAll('.clickable-row');
    const confirmBtn = document.getElementById('confirmQuantityBtn');
    const quantityInput = document.getElementById('quantityInput');
    const dettaglioIdInput = document.getElementById('dettaglioIdInput');
    
    let quantityModalInstance = null;

    rows.forEach(row => {
        row.addEventListener('click', function() {
            const dettaglioId = this.getAttribute('data-dettaglio-id');
            const pezzi = this.getAttribute('data-pezzi');

            quantityInput.value = ''; // Reset input field
            quantityInput.setAttribute('max', pezzi); // Imposta il massimo consentito
            dettaglioIdInput.value = dettaglioId;

            quantityModalInstance = new bootstrap.Modal(document.getElementById('quantityModal'));
            quantityModalInstance.show();
        });
    });

    confirmBtn.addEventListener('click', function() {
        const quantity = quantityInput.value;
        const dettaglioId = dettaglioIdInput.value;

        if (quantity && dettaglioId && quantity > 0) {
            // Trova il campo quantity associato e aggiorna il valore
            const formQuantityField = document.querySelector(`#id_quantity`);
            if (formQuantityField) {
                formQuantityField.value = quantity;
            }

            // Chiudi il modal correttamente e rimuovi il backdrop
            quantityModalInstance.hide();
            document.querySelector('.modal-backdrop').remove(); 
            document.body.classList.remove('modal-open');
            document.body.style.removeProperty('overflow');
        } else {
            alert('Inserisci una quantità valida.');
        }
    });
});

document.addEventListener('DOMContentLoaded', function () {
    // Inizializzare i tooltip di Bootstrap
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
});
        

        
</script>
{% endblock %} 
