{% extends 'core/base.html' %}
{% load crispy_forms_tags %}
{% block title %}{{ block.super }} | Ordine di Lavoro {% endblock %}

{% block sidenav %}
{% include "core/partials/_sidenav_lavorazioni.html" %}
{% endblock %}

{% block content %}


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'lavorazioni:dashboard_lavorazioni' %}">Lavorazioni</a></li>        

        {% if form.instance.id  %}
            <li class="breadcrumb-item active" aria-current="page">Modifica {{ ordinelavoro.description }}</li>
        {% else %}
            <li class="breadcrumb-item active" aria-current="page">Aggiungi DDT</li>
        {% endif %}             
        
        
    </ol>
</nav>

    <div class="container">
        {% if form.instance.id  %}
            <h3>Modifica DDT</h3>
        {% else %}
            <h3> Aggiungi DDT</h3>
        {% endif %}
        
        
        <hr>
        
        
        
        
        <br>


        <form method="post">
            {% csrf_token %}
            <input type="submit" name="salva_esci" class="btn btn-success mb-2 me-1" value="Salva ed Esci">
            <input type="submit" name="salva_continua" class="btn btn-success mb-2 me-1" value="Salva e continua">
            <button type="button" class="btn btn-danger mb-2 me-1" onclick="goBack()"><i class="bi bi-arrow-counterclockwise"></i> Annulla</button>
            
            <!--Intestazione-->
            <div class="row">
                <div class="col-2">
                    {{ form.int_est|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.num_doc|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.data_doc|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_causale_trasporto|as_crispy_field }}
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-4">
                    {{ form.fk_fornitore|as_crispy_field }}
                </div>
                <div class="col-4">
                    {{ form.fk_destinazione_diversa|as_crispy_field }}
                </div>
                
                
            </div>

            <!-- Corpo -->

            <!-- Piè pagina -->
            <div class="row">
                <div class="col-2">
                    {{ form.data_inizio_trasporto|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.ora_inizio_trasporto|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.trasporto|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.fk_vettore|as_crispy_field }}
                </div>
                
                
            </div>
            <div class="row">
                <div class="col-2">
                    {{ form.n_colli|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.fk_aspetto_beni|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.peso_kg|as_crispy_field }}
                </div>
                <div class="col-3">
                    {{ form.note|as_crispy_field }}
                </div>
                <div class="col-2">
                    {{ form.created_by|as_crispy_field }}
                </div>
                
                
            </div>
            

            
            
        </form>
        <hr>
        
        
    </div>



{% endblock %}
{% block extra_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
            setFocusOnField('id_descrizione');
        });
</script>
{% endblock %} 
