{% extends 'core/base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 
{% load widget_tweaks %}
{% block head_title %}{{ block.super }} - Acquisto Pelli {% endblock head_title %} 

{% block sidenav %}
{% include "core/partials/_sidenav_acquisto_pelli.html" %}
{% endblock %}

{% block content %}
{% include 'core/modals/delConfirm.html' %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>      
        <li class="breadcrumb-item"><a href="{% url 'acquistopelli:dashboard_acquisto_pelli' %}">Dashboard Acquisto Pelli</a></li>     
        <li class="breadcrumb-item active" aria-current="page">Tabelle Generiche Acquisto Pelli</li>        
    </ol>

</nav>
<div class="container">
  <br>
  <h3>Tabelle Generiche Acquisto Pelli</h3>
  <hr>

  {% include "core/partials/_messages.html" %}


  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h5>Tipo Animale</h5>                  
        </div>
        <div class="col-6 text-end">
          <a href="{% url 'acquistopelli:crea_tipo_animale' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Tipo Animale</a>
        </div>
      </div>
      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Descrizione</th>            
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for tipoanimale in tipianimale %}
            <tr>        
              
              <td><a href="{% url 'acquistopelli:modifica_tipo_animale' pk=tipoanimale.pk %}">{{ tipoanimale.descrizione }}</a></td>
              
              <td class="text-center"><a href="{% url 'acquistopelli:delete_tipo_animale' pk=tipoanimale.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{tipoanimale.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h5>Tipo Grezzo</h5>                  
        </div>
        <div class="col-6 text-end">
          <a href="{% url 'acquistopelli:crea_tipo_grezzo' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Tipo Grezzo</a>
        </div>
      </div>
      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Descrizione</th>            
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for tipogrezzo in tipigrezzo %}
            <tr>        
              
              <td><a href="{% url 'acquistopelli:modifica_tipo_grezzo' pk=tipogrezzo.pk %}">{{ tipogrezzo.descrizione }}</a></td>
              
              <td class="text-center"><a href="{% url 'acquistopelli:delete_tipo_grezzo' pk=tipogrezzo.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{tipogrezzo.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>
<hr>
    <div class="col-6">
      <div class="row">
        <div class="col-6">
          <h5>Scelte</h5>                  
        </div>
        <div class="col-6 text-end">
          <a href="{% url 'acquistopelli:crea_scelta' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Scelta</a>
        </div>
      </div>
      <div class="table-container">
        <table class="table table-bordered table-striped mt-2">
          <thead>
            <tr>
              <th>Descrizione</th>            
              <th>Azione</th>
              
            </tr>
          </thead>
          <tbody>
            {% for scelta in scelte %}
            <tr>        
              
              <td><a href="{% url 'acquistopelli:modifica_scelta' pk=scelta.pk %}">{{ scelta.descrizione }}</a></td>
              
              <td class="text-center"><a href="{% url 'acquistopelli:delete_scelta' pk=scelta.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{scelta.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
            </tr>  
            {% endfor %}
          </tbody>
        </table>
        </div>
    </div>

  </div>
</div>

{% endblock content %}