<div class="col-4">
    <div class="row">
      <div class="col-6">
        <h5>Concia</h5>                  
      </div>
      <div class="col-6 text-end">
        <a href="{% url 'acquistopelli:crea_concia' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Concia</a>
      </div>
    </div>
    <div class="table-container">
      <table class="table table-bordered table-striped mt-2">
        <thead>
          <tr>
            <th>Descrizione</th>            
            <th>Azione</th>
            
          </tr>
        </thead>
        <tbody>
          {% for concia in conce %}
          <tr>        
            
            <td><a href="{% url 'acquistopelli:modifica_concia' pk=concia.pk %}">{{ concia.descrizione }}</a></td>
            
            <td class="text-center"><a href="{% url 'acquistopelli:delete_concia' pk=concia.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{concia.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
          </tr>  
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>