<div class="col-6">
  <div class="row">
    <div class="col-6">
      <h5>Scelte</h5>                  
    </div>
    <div class="col-6 text-end">
      <a href="{% url 'acquistopelli:crea_scelta' %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Scelta</a>
    </div>
  </div>
  <div class="table-container">
    <table class="table table-bordered table-striped mt-2">
      <thead>
        <tr>
          <th>Descrizione</th>            
          <th>Azione</th>
          
        </tr>
      </thead>
      <tbody>
        {% for scelta in scelte %}
        <tr>        
          
          <td><a href="{% url 'acquistopelli:modifica_scelta' pk=scelta.pk %}">{{ scelta.descrizione }}</a></td>
          
          <td class="text-center"><a href="{% url 'acquistopelli:delete_scelta' pk=scelta.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{scelta.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
        </tr>  
        {% endfor %}
      </tbody>
    </table>
    </div>
</div>

</div>