
<!-- <div class="row"> -->
    <!-- Tabella test -->
    <!-- <div class="col-6"> -->
      <div class="row">
      
      {% if form.instance.id  %}
      <div class="col-6">
        <h5>Test Richiesti</h5>
                  
      </div>
      <div class="col-6 text-end">
        
        <a href="{% url 'articoli:aggiungi_test_articolo' fk_articolo=articolo.pk %}" class="btn btn-sm btn-success"><i class="bi bi-file-earmark-plus"></i> Aggiungi Test</a>

      </div>
    </div>
    <div class="table-container">
      <table class="table table-bordered table-striped mt-2">
        <thead>
          <tr>
            <th>Test</th>
            <th>Valore</th>   
            <th>Azione</th>
            
          </tr>
        </thead>
        <tbody>
          {% for test in elenco_test %}
          <tr>        
            
            <td><a href="{% url 'articoli:modifica_test_articolo' fk_articolo=articolo.pk pk=test.pk %}">{{ test.fk_test.descrizione }}</a></td>
            <td class="text-end">{{ test.valore }}</td>
            <td class="text-center"><a href="{% url 'articoli:delete_test_articolo' pk=test.pk %}" class="btn btn-sm btn-outline-danger confirm-delete" title="Delete" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" id="deleteButton{{test.pk}}"><i class="bi bi-trash"></i>Elimina</a></td>
          </tr>  
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
<!-- </div> -->

<!-- </div> --><!--Fine prima riga tabelle-->